
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviwers Login</title>
    <link rel="stylesheet" href="review_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  

    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>
 
    <div class="wrapper">
      
        <header>Reviwers Login</header>
        <form action="#" method ="post">
          <div class="field name">
            <div class="input-area">
              <input type="text" name = "name" placeholder="User Name">
              <i class="icon fas fa-envelope"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Name required</div>
          </div>
          <div class="field password">
            <div class="input-area">
              <input type="password" name = "password" placeholder="Password">
              <i class="icon fas fa-lock"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Password required</div>
          </div>
          <div class="pass-txt"><a href="#">Forgot password?</a></div>
          <input type="submit" value="Login">
        </form>
        <div class="sign-txt">
            <p>Don't have Account?</p><a href="#">Register Now</a>
        </div>
    </div>

    <script src="/static/reviewer/scripts/review_login.js"></script>

    <script src="
  https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js
  "></script>
  

</body>

</html>